.popup__close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -35px;
  right: 3px;
  border: none;
  background-color: transparent;
  background-image: url(../../../images/logo/—Ålose_btn.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity .3s ease-in;
  cursor: pointer;
}

.popup__close:hover {
  opacity: .6;
}

@media screen and (min-width: 800px) {
  .popup__close {
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
  }
}
