.profile__activity {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  margin: 6px 0 33px 0;
  grid-column: 1 / 3;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 300px;
}

@media screen and (min-width: 760px) {
  .profile__activity {
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 22px;
  }
}
